# Part 3. Data Merge

## Outline:
### 3.1 User merge
- gender
- age
- user action analysis
- double 11 user analysis
- repeat user:
    ` repeat behavior interval (regardless of seller)
    ` repeat behavior count (regardless of seller)
    ` repeat user attribute (binary variable 0-1)  
    
### 3.2 Seller merge
- seller action analysis
- double 11 seller analysis
- repeat seller (how many repeat buyers & attractive ratio for each seller)  

### 3.3 <seller, user> merge
for each unique pair of seller and user
- <seller, user> action analysis
- double 11 <seller, user>  analysis
- <seller, user> product activity analysis
- repeat <seller, user> (how many times of repeat purchase happend?)

### 3.4 merge all data with test, and split the train test with s=0.67

In [4]:
import pandas as pd

## 3.2 Seller merge

In [5]:
seller_features = pd.read_csv("data_processed/seller_features.csv")
seller_features.head()

,seller_id,click,cart,buy,fav,sellerTotalAction,click_to_buy_ratio,cart_to_buy_ratio,fav_to_buy_ratio,item_count,...,fav_pre_ratio,click_before,cart_before,buy_before,fav_before,seventTotalAction_before,click_before_ratio,cart_before_ratio,buy_before_ratio,fav_before_ratio
0,1,308236.0,444.0,17705.0,12755.0,339140.0,-2.856965,3.683585,0.327902,2977,...,0.047407,181673.0,134.0,10134.0,9287.0,201228.0,0.902822,0.000666,0.050361,0.046152
1,2,2030.0,8.0,189.0,144.0,2371.0,-2.369259,3.049799,0.270290,154,...,0.054726,1146.0,2.0,59.0,117.0,1324.0,0.865559,0.001511,0.044562,0.088369
2,3,2399.0,4.0,67.0,175.0,2645.0,-3.563716,2.610070,-0.950976,171,...,0.035907,1452.0,1.0,32.0,150.0,1635.0,0.888073,0.000612,0.019572,0.091743
3,4,2646.0,2.0,294.0,164.0,3106.0,-2.194207,4.588363,0.581030,155,...,0.038043,2383.0,2.0,273.0,154.0,2812.0,0.847440,0.000711,0.097084,0.054765
4,5,7483.0,9.0,144.0,556.0,8192.0,-3.943789,2.674149,-1.345831,660,...,0.061602,4984.0,4.0,79.0,432.0,5499.0,0.906347,0.000727,0.014366,0.078560

In [12]:
seller_overall = pd.read_csv('data_processed/seller_overall.csv')
seller_overall.head()

,Unnamed: 0,seller_id,seller_click_count_,seller_cart_count_,seller_buy_count_,seller_fav_count_,sellerTotalAction,seller_click_to_buy_ratio,seller_cart_to_buy_ratio,seller_fav_to_buy_ratio,seller_click_day_count,seller_add_day_count,seller_buy_day_count,seller_save_day_count,seller_click_count__conversion,seller_click_count_conversion_diff,seller_cart_count__conversion,seller_cart_count_conversion_diff,seller_fav_count__conversion,seller_fav_count_conversion_diff
0,0,1,308236.0,444.0,17705.0,12755.0,339140.0,-2.856965,3.683585,0.327902,176,55.0,185,185,-2.856965,-0.268369,3.683585,-0.012210,0.327902,0.107324
1,1,2,2030.0,8.0,189.0,144.0,2371.0,-2.369259,3.049799,0.270290,169,6.0,54,84,-2.369259,0.219337,3.049799,-0.645995,0.270290,0.049713
2,2,3,2399.0,4.0,67.0,175.0,2645.0,-3.563716,2.610070,-0.950976,168,4.0,31,79,-3.563716,-0.975119,2.610070,-1.085725,-0.950976,-1.171554
3,3,4,2646.0,2.0,294.0,164.0,3106.0,-2.194207,4.588363,0.581030,176,2.0,117,99,-2.194207,0.394390,4.588363,0.892568,0.581030,0.360452
4,4,5,7483.0,9.0,144.0,556.0,8192.0,-3.943789,2.674149,-1.345831,176,6.0,64,154,-3.943789,-1.355192,2.674149,-1.021646,-1.345831,-1.566409

In [13]:
seller_repeat = pd.read_csv('data_processed/repeat_merchant_result.csv')
seller_repeat.head()

   Unnamed: 0  seller_id  repeat_user_num  all_unique_user  att_ratio
0           0          1           2214.0             4565   0.484995
1           1          2              4.0               57   0.070175
2           2          3              2.0               32   0.062500
3           3          4             48.0              198   0.242424
4           4          5             14.0               63   0.222222

In [14]:
seller_features.shape

(4995, 44)

In [15]:
seller_overall.shape

(4995, 20)

In [16]:
seller_repeat.shape

(4990, 5)

In [18]:
seller_FINAL = pd.merge(seller_features, seller_overall, on='seller_id')
seller_FINAL = pd.merge(seller_FINAL, seller_repeat, how='left',on='seller_id').fillna(0)

In [19]:
seller_FINAL.shape

(4995, 67)

### column cleaning

In [25]:
seller_FINAL.columns

Index(['seller_id', 'click', 'cart', 'buy', 'fav', 'sellerTotalAction_x',
       'click_to_buy_ratio', 'cart_to_buy_ratio', 'fav_to_buy_ratio',
       'item_count', 'cat_count', 'brand_count', 'repeat_users_count',
       'su_click', 'su_cart', 'su_buy', 'su_fav', 'click_11', 'cart_11',
       'buy_11', 'fav_11', 'seventTotalAction_11', 'click_11_ratio',
       'cart_11_ratio', 'buy_11_ratio', 'fav_11_ratio', 'click_pre',
       'cart_pre', 'buy_pre', 'fav_pre', 'seventTotalAction_pre',
       'click_pre_ratio', 'cart_pre_ratio', 'buy_pre_ratio', 'fav_pre_ratio',
       'click_before', 'cart_before', 'buy_before', 'fav_before',
       'seventTotalAction_before', 'click_before_ratio', 'cart_before_ratio',
       'buy_before_ratio', 'fav_before_ratio', 'Unnamed: 0_x',
       'seller_click_count_', 'seller_cart_count_', 'seller_buy_count_',
       'seller_fav_count_', 'sellerTotalAction_y', 'seller_click_to_buy_ratio',
       'seller_cart_to_buy_ratio', 'seller_fav_to_buy_ratio',
       'seller_click_day_count', 'seller_add_day_count',
       'seller_buy_day_count', 'seller_save_day_count',
       'seller_click_count__conversion', 'seller_click_count_conversion_diff',
       'seller_cart_count__conversion', 'seller_cart_count_conversion_diff',
       'seller_fav_count__conversion', 'seller_fav_count_conversion_diff',
       'Unnamed: 0_y', 'repeat_user_num', 'all_unique_user', 'att_ratio'],
      dtype='object')

In [28]:
seller_FINAL = seller_FINAL.drop(['Unnamed: 0_x','Unnamed: 0_y'], axis=1)

In [29]:
#data output
seller_FINAL.to_csv('Final_data/seller_FINAL.csv')

## 3.3 <seller, user> merge

In [22]:
su_overall = pd.read_csv("data_processed/su_overall.csv")
su_overall.head()

,Unnamed: 0,su_id,su_click,su_cart,su_buy,su_fav,suTotalAction,su_click_ratio_,su_cart_ratio_,su_buy_ratio_,su_fav_ratio_,su_click_day_count,su_add_day_count,su_buy_day_count,su_save_day_count
0,0,100000_1042,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,100000_106,9.0,0.0,0.0,0.0,9.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
2,2,100000_1087,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,100000_1142,9.0,0.0,1.0,0.0,10.0,0.9,0.0,0.1,0.0,4.0,0.0,1.0,0.0
4,4,100000_1199,6.0,0.0,0.0,0.0,6.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0

In [23]:
su_double11 = pd.read_csv("data_processed/Double11_su.csv")
su_double11.head()

,su_id,click_11,cart_11,buy_11,fav_11,sueventTotalAction_11,click_ratio_11,cart_ratio_11,buy_ratio_11,fav_ratio_11,...,fav_ratio_pre,click_before,cart_before,buy_before,fav_before,sueventTotalAction_before,click_ratio_before,cart_ratio_before,buy_ratio_before,fav_ratio_before
0,328862_2882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,26.0,0.0,0.0,2.0,28.0,0.928571,0.0,0.000000,0.071429
1,328862_1253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,4.0,1.000000,0.0,0.000000,0.000000
2,328862_883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6.0,0.0,0.0,0.0,6.0,1.000000,0.0,0.000000,0.000000
3,328862_420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,13.0,0.0,0.0,0.0,13.0,1.000000,0.0,0.000000,0.000000
4,328862_4605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,13.0,0.0,2.0,0.0,15.0,0.866667,0.0,0.133333,0.000000

In [24]:
su_pd = pd.read_csv("data_processed/su_pd.csv")
su_pd.head()

,Unnamed: 0,su_id,unique_item,item_action,unique_cat,cat_action,unique_brand,brand_action
0,0,5_1,1.0,5.0,1.0,5.0,1.0,5.0
1,1,20_1,2.0,2.0,2.0,2.0,1.0,2.0
2,2,23_1,5.0,6.0,4.0,6.0,1.0,6.0
3,3,34_1,5.0,7.0,2.0,7.0,1.0,7.0
4,4,72_1,1.0,2.0,1.0,2.0,1.0,2.0

In [32]:
su_repeat = pd.read_csv("data_processed/su_repeat.csv")
su_repeat.head()

   Unnamed: 0        su_id  diff_new
0           0  100000_3200      3.75
1           1  100002_3800      0.00
2           2  100005_4924      0.00
3           3  100006_1480      0.00
4           4  100007_3663      9.00

In [33]:
su_FINAL = pd.merge(su_overall, su_double11, how ='left', on='su_id')

In [34]:
su_FINAL = pd.merge(su_FINAL, su_pd, how ='left', on='su_id')

In [35]:
su_FINAL = pd.merge(su_FINAL, su_repeat, how ='left', on='su_id')

### column cleaning

In [36]:
su_FINAL.columns

Index(['Unnamed: 0_x', 'su_id', 'su_click', 'su_cart', 'su_buy', 'su_fav',
       'suTotalAction', 'su_click_ratio_', 'su_cart_ratio_', 'su_buy_ratio_',
       'su_fav_ratio_', 'su_click_day_count', 'su_add_day_count',
       'su_buy_day_count', 'su_save_day_count', 'click_11', 'cart_11',
       'buy_11', 'fav_11', 'sueventTotalAction_11', 'click_ratio_11',
       'cart_ratio_11', 'buy_ratio_11', 'fav_ratio_11', 'click_pre',
       'cart_pre', 'buy_pre', 'fav_pre', 'sueventTotalAction_pre',
       'click_ratio_pre', 'cart_ratio_pre', 'buy_ratio_pre', 'fav_ratio_pre',
       'click_before', 'cart_before', 'buy_before', 'fav_before',
       'sueventTotalAction_before', 'click_ratio_before', 'cart_ratio_before',
       'buy_ratio_before', 'fav_ratio_before', 'Unnamed: 0_y', 'unique_item',
       'item_action', 'unique_cat', 'cat_action', 'unique_brand',
       'brand_action', 'Unnamed: 0', 'diff_new'],
      dtype='object')

In [38]:
su_FINAL = su_FINAL.drop(['Unnamed: 0_x','Unnamed: 0_y', 'Unnamed: 0'], axis=1)

In [39]:
#data output
su_FINAL.to_csv('Final_data/su_FINAL.csv')